.countryCityItem,
.countryCityItem:link,
.countryCityItem:visited {
  display: flex;
  gap: 1.6rem;
  align-items: center;

  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 1rem 2rem;
  border-left: 5px solid var(--color-brand--3);
  cursor: pointer;

  color: inherit;
  text-decoration: none;
}

.countryCityItem--active {
  border: 2px solid var(--color-brand--3);
  border-left: 5px solid var(--color-brand--3);
}

.emoji {
  font-size: 2.6rem;
  line-height: 1;
}

.name {
  font-size: 1.7rem;
  font-weight: 600;
  margin-right: auto;
}

.user  {
  font-size: 1.5rem;
  font-weight: 600;
}


.date {
  font-size: 1.5rem;
}

.deleteBtn {
  height: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;
}

.deleteBtn:hover {
  background-color: var(--color-brand--1);
  color: var(--color-dark--1);
}

@media only screen and (max-width: 944px) {

  .emoji {
    font-size: 2.2rem;
  }

  .name {
    font-size: 2dvh;
  }

  .user {
    font-size: 1.5dvh;
  }

  .date {
    font-size: 1.5dvh;
  }

  .deleteBtn {
    height: 2.5dvh;
    font-size: 1.4dvh;
  }
}
